<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мэдээллийн товхимол №1</title>
</head>
<body>
<p>Монголын Математикийн Олимпиадын Хорооны ерөнхийлөгч хатагтай Н. Мөнхнасангийн
    санаачлагаар ММОХ сар бүр мэдээллийн товхимол гаргаж байхаар боллоо.</p>

<p>Тус товхимолын анхны дугаарыг (2023 оны №1) доктор Ү. Отгонбаяр эмхэтгэн та бүхэнд хүргэж байна.</p>

<p>Энэ удаагийн дугаарт ММОХ-ны удирдах зөвлөлийн хурлын мэдээлэл, Охидын Математикийн Хөгжил ТББ байгуулагдсан тухай,
    I давааны дүн, олимпиадын хуваарь, улс болон олон улсын олимпиадуудад
    оролцох сурагчдыг сонгон шалгаруулах журам зэрэг мэдээллийг багтаажээ.</p>

<p>Та бүхэн санал, хүсэлт, шүүмжээ <a href="mailto:otogo@me.com">otogo@me.com</a> хаяг руу илгээнэ үү.</p>
<div>
    <a href="https://www.dropbox.com/s/dopba2ix2r1jto3/202301.pdf?dl=0" target="_blank">
        <img src="http://www.mmo.mn/static/newsletter/202301-01.jpg" /></a>
</div>
</body>
</html>