{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load latex_filter %}

{% block title %}Дүн{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="justify-content-center">
        <h3>{{ problem.olympiad.name }}, Бодлого №{{ problem.order }}</h3>
        {% autoescape off %}
            <table class="table table bordered">
                <tr>
                    <th>№</th>
                    <th>Овог, нэр</th>
                    <th>ID</th>
                    <th>Бүс</th>
                    <th>Бодолт зассан</th>
                    <th>Коммент</th>
                    <th>Оноо</th>
                    <th>Бодолт харах</th>
                    <th>Файлын тоо</th>
                </tr>
                {% for result in results %}
                    <tr id="result{{ result.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.contestant.last_name }}, {{ result.contestant.first_name }}, {{ result.contestant.data.mobile }}</td>
                        <td>{{ result.contestant.id }}</td>
                        <td><a href="{% url 'zone_olympiad_exam_grading' problem_id=result.problem.id zone_id=result.contestant.data.province.zone.id %}">{{ result.contestant.data.province.zone.name }}</a></td>
                        <td>{{ result.coordinator.first_name }}</td>
                        <td>{{ result.grader_comment }}</td>
                        <td>{{ result.score }}</td>
                        <td><button class="btn btn-sm {% if result.state == 3 %}btn-warning{% else %}btn-secondary{% endif %}"
                                    onclick="grade({{ result.id }})">Үнэлэх</button></td>
                        <td>{{ result.get_upload_num }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endautoescape %}
    </div>
    <div class="modal" id="grading" style="z-index: 10000">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Бодолт засах</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" onclick="viewerClose()">Зураг хаах</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function grade(i) {
            $.get('{% url 'olympiad_grade_result' %}', {'result_id': i }, function (data) {
                $("#grading").modal({backdrop: false})
                $("#grading .modal-body").empty().append(data)
                MathJax.Hub.Queue(["Typeset",MathJax.Hub])
            }).done(
                $("#student-result").submit(function(){
                    console.log("hi")
                })
            )
        }

        function load() {
            $("#images").viewer({
                inline: true,
                viewed: function() {
                    $("#images").viewer('zoomTo', 1);
                }
            })
        }

        function viewerClose() {
            $("#images").viewer('destroy')
        }
    </script>
{% endblock %}