{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Олимпиад{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <h5 class="alert alert-danger">{% autoescape on %}{{ message }}{% endautoescape %}</h5>
            {% endfor %}
        {% endif %}
        <div id="time">Улаанбаатарын цаг: {{ now | date:'Y-m-d H:i' }}</div>
        <h3>Таны оролцох ангилал: {{ request.user.data.level.name }}</h3>
        <p class="alert alert-danger">Өөрийн оролцох ангиллаа зөв эсэхийг шалгаад буруу бол
            <a href="{% url 'user_profile' %}" class="btn btn-sm btn-danger">Профайл засах</a> ашиглан солиорой.</p>
        <table class="table table-hover">
            <tr>
                <th>Олимпиад</th>
                <th>Ангилал</th>
                <th>Эхлэх</th>
                <th>Дуусах</th>
                <th>Бүлэг</th>
                <th>Оролцох</th>
            </tr>
            {% for olympiad in olympiads %}
                <tr>
                    <td style="max-width: 200px">{{ olympiad.name }}</td>
                    <td>{{ olympiad.level.name }}</td>
                    <td>{{ olympiad.start_time | date:'Y-m-d H:i' }}</td>
                    <td>{{ olympiad.end_time | date:'Y-m-d H:i' }}</td>
                    <td>{{ olympiad.group.name }}</td>
                    <td>
                        {% if olympiad.type == 0 %}
                        <a class="btn btn-info" href="{% url 'olympiad_exam' olympiad_id=olympiad.id %}">Эхлэх</a>
                        {% else %}
                        <a class="btn btn-info" href="{% url 'olympiad_quiz' quiz_id=olympiad.id %}">Эхлэх</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}