<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include PivotTable.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css">

</head>
<body>
<!-- Container element for pivot table -->
<div id="pivotTableContainer"></div>
<script>
    function generatePivotTable(data) {
      // Specify the target container element
      const container = document.getElementById("pivotTableContainer");

      // Create the PivotTable
      $(container).pivotUI(data, {
        rows: ["user_id"], // Specify the row fields
        cols: ["problem"], // Specify the column field
        aggregatorName: "Sum", // Specify the aggregation function
        vals: ["score"], // Specify the value field
      });
    }

    $(document).ready(function() {
        fetch("/olympiads/results/data/{{ request.get }}/")
            .then(response => response.json())
            .then(data => {
                // Process the retrieved JSON data
                console.log(data); // Or perform other operations with the data
                generatePivotTable(data.answers)
            })
            .catch(error => {
                // Handle any errors that occurred during the fetch request
                console.error('Error:', error);
            });
    });

</script>
</body>
</html>