{% extends 'base.html' %}

{% block title %}ММО 57{% endblock %}

{% block content %}
    <h3>ММО-57 (ОУМО-62-д оролцох багийн сонгон шалгаруулалт)-ыг зохион байгуулах хуваарь</h3>
    <table class="table table-bordered">
        <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">Огноо</th>
            <th rowspan="2">Хэлбэр</th>
            <th rowspan="2">Ангилал</th>
            <th rowspan="2">Оролцох сурагчид</th>
            <th colspan="2">Дараагийн шатанд шалгарах сурагчдын тоо</th>
            <th rowspan="2">Тайлбар</th>
        </tr>
        <tr>
            <th>Нийслэл</th>
            <th>Аймгууд</th>
        </tr>
        <tr>
            <th>I шат</th>
            <td>2021.04.10, 11</td>
            <td>Нөхөх тест</td>
            <td>Дунд (9-10-р анги), Ахлах (11-12-р анги)</td>
            <td>Бүртгүүлсэн сурагчид</td>
            <td>Хоёр өдрийн нийлбэр дүнгээр ангилал тус бүрд эхний 30 сурагч. Мөн 5-аас цөөн сурагч шалгарсан дүүрэгт
                нэмэлтээр эрх олгоно. Өөрөөр хэлбэл дүүрэг бүрээс ангилал тус бүрд дор хаяж 5 сурагч шалгарна.
                (Багануур, Багахангай, Налайх нэг дүүрэг гэж тооцоно)</td>
            <td>Ангилал тус бүрд 10 сурагч.</td>
            <td>Нөхөх тестийг www.mmo.mn сайтаар бэлтгэл тест зохион байгуулсан форматаар зохион байгуулна. Өдөр бүр 8
                бодлого 90 минутын турш бодож уралдана.</td>
        </tr>
        <tr>
            <th>II шат</th>
            <td>2021.04.17, 18</td>
            <td>17-нд нөхөх тест, 18-нд уламжлалт 4 бодлого.</td>
            <td>Дунд (9-10-р анги), Ахлах (11-12-р анги)</td>
            <td>I шатнаас шалгарсан сурагчид</td>
            <td>Дунд &approx; 30, ахлах &approx; 30</td>
            <td>Дунд - 2, ахлах - 2</td>
            <td>Хөдөө орон нутгаас 9, 10, 11, 12-р ангийн тус бүр нэг сурагч шалгарна.
            </td>
        </tr>
        <tr>
            <th>IMO I сорилго</th>
            <td>2021.04.24, 25</td>
            <td>Уламжлалт, өдөр бүр 3 бодлого</td>
            <td>Ахлах</td>
            <td rowspan="2">II шатанд хамгийн өндөр амжилт үзүүлсэн дунд &approx; 10, ахлах &approx; 20</td>
            <td></td>
            <td></td>
            <td rowspan="2">Хөдөө орон нутгаас шалгарсан сурагчдын материалыг
                шаардлагатай гэж үзвэл нягталсны үндсэн дээр IMO сорилгод оролцуулна.
            </td>
        </tr>
        <tr>
            <th>IMO II сорилго</th>
            <td>2021.05.01, 02</td>
            <td>Уламжлалт, өдөрт 3 бодлого</td>
            <td>Ахлах</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>ММО-57 (эцсийн шалгаруулалт)</th>
            <td>2021.05.08, 09</td>
            <td>Уламжлалт, өдөрт 3 бодлого</td>
            <td>Дунд, ахлах</td>
            <td>II даваанаас шалгарсан сурагчид</td>
            <td></td>
            <td></td>
            <td>IMO сорилгууд болон ахлах ангилалд авсан онооны нийлбэрээр IMO-д оролцох 6 сурагчийг сонгоно.</td>
        </tr>
    </table>
    <p>Жич: Оноо тэнцсэн тохиолдолд дараагийн шатанд хэдэн сурагч оролцохыг комиссийн гишүүдийн хурлаар шийднэ.</p>
    <h4 class="mt-4">Шалгалтын хуваарь</h4>
    <table class="table table-bordered">
        <tr>
            <th>Шат</th>
            <th>Ангилал</th>
            <th>Хэлбэр</th>
            <th>Огноо</th>
            <th>Эхлэх цаг</th>
            <th>Хугацаа</th>
        </tr>
        <tr>
            <th>I шат</th>
            <td>Дунд 2 (9-10)</td>
            <td>Тест</td>
            <td>2021.04.10, 11</td>
            <td>09:00</td>
            <td>1 цаг 30 мин</td>
        </tr>
        <tr>
            <th>I шат</th>
            <td>Ахлах (11-12)</td>
            <td>Тест</td>
            <td>2021.04.10, 11</td>
            <td>11:00</td>
            <td>1 цаг 30 мин</td>
        </tr>
        <tr>
            <th>II шат</th>
            <td>Дунд 2 (9-10)</td>
            <td>Тест</td>
            <td>2021.04.17</td>
            <td>09:00</td>
            <td>1 цаг 30 мин</td>
        </tr>
        <tr>
            <th>II шат</th>
            <td>Ахлах (11-12)</td>
            <td>Тест</td>
            <td>2021.04.17</td>
            <td>11:00</td>
            <td>1 цаг 30 мин</td>
        </tr>
        <tr>
            <th>II шат</th>
            <td>Дунд 2 (9-10), Ахлах (11-12)</td>
            <td>Уламжлалт</td>
            <td>2021.04.18</td>
            <td>09:00</td>
            <td>4 цаг 30 мин</td>
        </tr>
        <tr>
            <th>IMO I сорилго</th>
            <td>Ахлах</td>
            <td>Уламжлалт</td>
            <td>2021.04.24, 25</td>
            <td>09:00</td>
            <td>4 цаг 30 мин</td>
        </tr>
        <tr>
            <th>IMO II сорилго</th>
            <td>Ахлах</td>
            <td>Уламжлалт</td>
            <td>2021.05.01, 02</td>
            <td>09:00</td>
            <td>4 цаг 30 мин</td>
        </tr>
        <tr>
            <th>ММО-57 (эцсийн шалгаруулалт)</th>
            <td>Дунд 2 (9-10), Ахлах (11-12)</td>
            <td>Уламжлалт</td>
            <td>2021.05.08, 09</td>
            <td>09:00</td>
            <td>4 цаг 30 мин</td>
        </tr>
    </table>
{% endblock %}