<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ olympiad.name }} ({{ olympiad.description }}) олимпиадын дүнгийн хүснэгт</title>
</head>
<body>
    <h1>{{ olympiad.name }} олимпиадын дүн</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                {% for i in problem_range %}
                    <th>Score {{ i }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for data in score_data %}
                <tr>
                    <td>{{ data.user }}</td>
                    {% for score in data.scores %}
                        <td>{{ score }}</td>
                    {% endfor %}
                    <td>{{ data.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>