<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Хариулт оруулах</title>
</head>
<body>
<h3>{{ olympiad.name }}, {{ olympiad.description }}, {{ contestant.first_name }}</h3>
<form method="post">
<input type="hidden" name="quiz_id" value="{{ olympiad.id }}" >
{% csrf_token %}
{% for result in results %}
    
    <p>Бодлого {{ result.problem.order }}. <input type="text" 
                                                  name="p{{ result.id }}"
                                                  data-id="{{ result.id }}" 
                                                  value="{{ result.answer }}"
                                                  oninput="saveAnswer(this)"  ></p>
{% endfor %}
    <button type="submit">Илгээх</button> <button onclick="closeWindow()">Хаах</button>
</form>


<script>
  function closeWindow() {
    // Close the current browser window or tab
    window.close();
  }
</script>
</body>
</html>