{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Дүн{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="ustify-content-center">
        <h3>{{ title }}</h3>
        <table class="table table bordered">
            <tr>
                <th>№</th>
                <th>Овог, нэр</th>
                <th>Аймаг, дүүрэг</th>
                <!--th>Сургууль</th-->
                <th>Анги</th>
                <th>Ангилал</th>
            </tr>
            {% for contestant in students %}
                {% if contestant.data.grade.id < 13 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ contestant.last_name }}, {{ contestant.first_name }}</td>
                    <td>{{ contestant.data.province.name }}</td>
                    <!--td>{{ contestant.data.school }}</td-->
                    <td>{{ contestant.data.grade.name }}</td>
                    <td>{{ contestant.data.level.name }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}