{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Нэмэлт материал{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <style>
        th, td {
            max-width: 350px;
            overflow: hidden;
        }
    </style>
    <div class="justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <h5 class="alert alert-danger">{{ message }}</h5>
            {% endfor %}
        {% endif %}
        <h3>Нэмэлт материал оруулах</h3>
        <table class="table table-hover">
            <tr>
                <th>№</th>
                <th>Сурагчийн нэр</th>
                <th>Олимпиад</th>
                <th>Бодлого</th>
                <th>Материал</th>
                <th>Зөвшөөрөх</th>
                <th>Татгалзах</th>
            </tr>
            {% for upload in uploads %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>USER ID: {{ upload.result.contestant.id }},<br>
                        {{ upload.result.contestant.last_name }},<br>
                        {{ upload.result.contestant.first_name }},<br>
                        {{ upload.result.contestant.email }},<br>
                        {{ upload.result.contestant.data.mobile }},<br>
                        {{ upload.result.contestant.data.province.name }},<br>
                        {{ upload.result.contestant.data.school }},<br>
                        UPLOAD&nbsp;ID: {{ upload.id }}
                    </td>
                    <td>{{ upload.result.olympiad.name }}</td>
                    <td>{% autoescape off %}Бодлого №{{ upload.result.problem.order }} ({{ upload.result.problem.id }})<br>
                        {{ upload.result.problem.statement }}{% endautoescape %}</td>
                    <td><a href="/media/{{ upload.file }}" target="_blank">{{ upload.file }}</a><br>
                        <a href="{% url 'olympiad_exam_staff' olympiad_id=upload.result.olympiad.id contestant_id=upload.result.contestant.id %}"
                           target="_blank">Материал үзэх</a><br>

                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" onclick="approve({{ upload.id }},this)">Зөвшөөрх</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" onclick="remove({{ upload.id }},this)">Устгах</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function approve(id, el) {
            console.log($(el).parent().parent())
            $.get('{% url 'approve_supplement' %}', {id: id}, function (data) {
                console.log(data)
            }).done(
                $(el).parent().parent().remove()
            )
        }

        function remove(id, el) {
            console.log($(el).parent().parent())
            $.get('{% url 'remove_supplement' %}', {id: id}, function (data) {
                console.log(data)
            }).done(
                $(el).parent().parent().remove()
            )
        }
    </script>
{% endblock %}