{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Дүн{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="ustify-content-center">
        <h3>{{ title }}</h3>
        <table class="table table bordered">
            <tr>
                <th>№</th>
                <th>Овог, нэр</th>
                <th>Аймаг, дүүрэг</th>
                <th>Сургууль</th>
                <th>Анги</th>
                <th>Ангилал</th>
                <th>Анги</th>
                <th>Ангилал</th>
                <th>Ангилал</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.3 }}</td>
                    <td><a href="{% url 'olympiad_student_result' olympiad_id=olympiad contestant_id=result.0 %}">{{ result.4 }}</a></td>
                    <td>{{ result.5 }}</td>
                    <td>{{ result.6 }}</td>
                    <td><button type="button" class="btn btn-sm btn-danger" onclick="addToSecond({{ result.0 }})">Add</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function addToSecond(id) {
            $.get("{% url 'approve_two_second' %}", {id : id}, function(data){
                console.log(data)
            })
        }
    </script>
{% endblock %}