{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Нууц үгээ мартсан уу?{% endblock %}

{% block content %}
  <h3>Нууц үгээ мартсан уу?</h3>
  <p>Бүртгэлтэй имэйл хаягаа оруулж нууц үг сэргээх заавар аваарай. Нэг имэйл хаягаар олон хүн бүртгүүлсэн
      тохиолдолд тус бүрдээ хэрэглэгчийн нэртэй олон имэйл очихыг анхаарна уу.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Заавар явуул!">
  </form>
{% endblock %}