{% load static %}
<div class="home-category-tabs">
    <a href="{% url 'posts:home' %}"><img src="{% static 'logo.png' %}" alt="ММОХ лого" class="home-category-tabs-logo"></a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=1 %}">Сургуулийн олимпиад</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=2 %}">Аймаг/Дүүргийн олимпиад</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=3 %}">Бүс/УБ хотын олимпиад</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=4 %}">Улсын олимпиад</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=7 %}">APMO</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=6 %}">EGMO</a>
    <a class="home-category-tab" href="{% url 'olympiad_round_detail' round=5 %}">IMO</a>
</div>
