{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h3>Амжилттай!</h3>
                </div>
                <div class="card-body text-center">
                    <p class="lead">Таны нууц үг амжилттай солигдлоо.</p>
                    <p>Одоо системд нэвтэрч болно.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                        Нэвтрэх
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}