{% extends 'base.html' %}

{% block title %}Монголын Математикийн Олимпиадын Хороо{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="card p-3 mt-2 bg-light text-dark">
        <h4 class="text-info my-3">{{ article.title }}</h4>
        {% if request.user.is_staff and mode %}
            <a href="/admin/olympiad/article/{{ article.id }}/change/" target="_blank">Засах</a>
        {% endif %}
        {% autoescape off %}{{ article.descr }} {% endautoescape %}
        <p>Нийтэлсэн: {{ article.startdate | date:'Y-m-d' }}, Сүүлийн
            засвар: {{ article.createdate | date:'Y-m-d' }}</p>
    </div>
{% endblock %}
