{% extends 'base.html' %}

{% block title %}Гишүүд{% endblock %}

{% block content %}
    <h3>Аймгаар</h3>
    <ol>
        {% for province in provinces %}
            <li><a href="{% url 'account_users' %}?p={{ province.id }}" class="text-dark">{{ province.name }}</a></li>
        {% endfor %}
    </ol>
    <h3>Ангилалаар</h3>
    <ol>
        {% for level in levels %}
            <li><a href="{% url 'account_users' %}?l={{ level.id }}" class="text-dark">{{ level.name }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}