{#  extends 'base.html' #}

{% block 'content' %}
    <h3>{{ context.name }}</h3>
    {% for dist_id, dist, school, student_results, total in results %}
        <h4>{{ forloop.counter }}. {{ dist }}, {{ school }}, {{ total }}</h4>
        <table>
            <tr><th>Сурагчийн ID</th><th>Ангилал</th><th>Хэмжээст оноо</th></tr>
        {% for id, level, score in student_results %}
            <tr><td>{{ id }}</td><td>{{ level }}</td><td>{{ score }}</td></tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}