{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}АБТА У. Ойдов агсны нэрэмжит олимпиад{% endblock %}

{% block content %}
    <h3>АБТА У. Ойдов агсны нэрэмжит олимпиад</h3>
    <h4>2022-10-08, Онлайн даваа</h4>
    <div>
        <div class="my-3">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>№</th>
                    <th>Нэр</th>
                    <th>Эхлэх</th>
                    <th>Дуусах</th>
                    <th>Оролцох</th>
                </tr>
                {% for quiz in quizzes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ quiz.name }}</td>
                        <td>{{ quiz.start_time | date:'H:i' }}</td>
                        <td>{{ quiz.end_time | date:'H:i' }}</td>
                        <td>
                            <button class="btn btn-success btn-sm" onclick="check({{ quiz.id }})">Эхлэх</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <p>* Чөлөөт ангилалд бүх хүн оролцож болно.</p>
    <p>** Сонирхогч ангилалд математикийн багш биш бүх хүн орж болно.</p>
    </div>
    <script>
        function check(id) {
            fetch("{% url 'myquiz_check_quiz' %}?" + new URLSearchParams({id: id}))
                .then((response) => response.json())
                .then((data) => {
                    if (data.status == 0) {
                        alert(data.msg)
                    } else {
                        window.location.href = "/oidov/quiz/" + id
                    }
                })
        }
    </script>
{% endblock %}