{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load pst_filter %}

{% block title %}АБТА У. Ойдов агсны нэрэмжит олимпиад{% endblock %}

{% block content %}
    <h3>АБТА У. Ойдов агсны нэрэмжит олимпиад, {{ quiz.name }}</h3>
    <div>
        <h4>2022 оны 10-р сарын 08</h4>
        <hr>
        <div class="my-3">
            {% for problem in problems %}
                <div id="problem-{{ problem.0 }}" class="problem lead" data-id="{{ problem.0 }}"
                     data-choice="{{ problem.12 }}">
                    <h5 class="my-2">Бодлого {{ problem.1 }}. ({{ problem.9 }} оноо)</h5>
                    <p class="my-2">{% autoescape off %}{{ problem.2 | pst }}{% endautoescape %}</p>
                    <span class="mr-2">
                        <button id="choice-{{ problem.0 }}-1"
                                onclick="sendAnswer({{ problem.0 }},{{ request.user.id }},1)"
                                class="btn btn-sm btn-light choice-{{ problem.0 }}">
                            А. {% autoescape off %}{{ problem.3 | pst }}{% endautoescape %}</button>
                    </span>
                    <span class="mr-2">
                        <button id="choice-{{ problem.0 }}-2"
                                onclick="sendAnswer({{ problem.0 }},{{ request.user.id }},2)"
                                class="btn btn-sm btn-light choice-{{ problem.0 }}">
                            B. {% autoescape off %}{{ problem.4 | pst }}{% endautoescape %}</button>
                    </span>
                    <span class="mr-2">
                        <button id="choice-{{ problem.0 }}-3"
                                onclick="sendAnswer({{ problem.0 }},{{ request.user.id }},3)"
                                class="btn btn-sm btn-light choice-{{ problem.0 }}">
                            C. {% autoescape off %}{{ problem.5 | pst }}{% endautoescape %}</button>
                    </span>
                    <span class="mr-2">
                        <button id="choice-{{ problem.0 }}-4"
                                onclick="sendAnswer({{ problem.0 }},{{ request.user.id }},4)"
                                class="btn btn-sm btn-light choice-{{ problem.0 }}">
                            D. {% autoescape off %}{{ problem.6 | pst }}{% endautoescape %}</button>
                    </span>
                    <span>
                        <button id="choice-{{ problem.0 }}-5"
                                onclick="sendAnswer({{ problem.0 }},{{ request.user.id }},5)"
                                class="btn btn-sm btn-light choice-{{ problem.0 }}">
                            E. {% autoescape off %}{{ problem.7 | pst }}{% endautoescape %}</button>
                    </span>
                </div>
                <hr>
            {% endfor %}

            <button class="btn btn-block btn-primary" onclick="closeQuiz()">Дуусгах
            </button>
            <button class="btn btn-block btn-warning" onclick="clearAnswer({{ request.user.id }},{{ quiz.id }})">Бүх
                хариултыг арилгах
            </button>
        </div>
    </div>
    <script>
        function closeQuiz() {
             if (confirm("Та тестээ дуусгахдаа итгэлтэй байна уу?")) {
                window.location.href="{% url 'myquiz_index' %}"
            } else {
                console.log("Цуцаллаа.")
            }
        }

        function check(id) {
            fetch('{% url 'myquiz_check_quiz' %}?' + new URLSearchParams({id: id}))
                .then((response) => response.json())
                .then((data) => console.log(data))
        }

        function clearAnswer(uid, qid) {

            if (confirm("Бүх хариултаа устгахдаа итгэлтэй байна уу?")) {
                fetch('{% url 'myquiz_clear_all' %}?' + new URLSearchParams({uid: uid, qid: qid}))
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.hasOwnProperty('msg')) {
                            alert(data.msg)
                        } else {
                            $("div.problem").attr("data-choice", "NaN")
                            $("div.problem button.btn-primary").removeClass(".btn-primary").addClass("btn-light")
                        }
                    })
            } else {
                console.log("Цуцаллаа.")
            }
        }


        function sendAnswer(pid, uid, choice) {
            let className = ".choice-" + pid
            let elementID = "#choice-" + pid + "-" + choice
            let problemID = "#problem-" + pid

            fetch('{% url 'myquiz_save_answer' %}?' + new URLSearchParams({pid: pid, uid: uid, choice: choice}))
                .then((response) => response.json())
                .then((data) => {
                    if (data.hasOwnProperty('msg')) {
                        alert(data.msg)
                    } else {
                        $(problemID).attr("data-choice", choice)
                        $(className).removeClass('btn-primary').addClass('btn-light')
                        $(elementID).removeClass("btn-light").addClass("btn-primary")
                    }
                })
        }

        $(document).ready(function () {
            $("div.problem").each(function () {
                let id = $(this).data("id")
                let choice = $(this).data("choice")
                let child = "#choice-" + id + "-" + choice
                $(child).removeClass("btn-light").addClass("btn-primary")
            })
        });
    </script>
{% endblock %}