{% extends 'muis.html' %}

{% load crispy_forms_tags %}
{% load latex_filter %}

{% block title %}Шалгалт{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    {% autoescape off %}
    {% for result in results %}
        <div>{{ result.problem.order }}. {{ result.problem.statement | latex }}</div>
        {% for upload in result.upload_set.all %}
            <a href="/media/{{ upload.file }}">{{ upload.file }}</a>
        {% endfor %}
        <div id="form-{{ result.id }}" class="upload-form"></div>
        <div class="my-3">
            <button type="submit" class="btn btn-sm btn-secondary" onclick="upload({{ result.id }})">Бодолт нэмэх
            </button>
        </div>
    {% endfor %}
    {% endautoescape %}
    <div id="form"></div>
    <script>
        function upload(i) {
            $(".upload-form").empty()
            $.get('{% url 'quiz_get_result_form' %}', {'result_id': i}, function (data) {
                $("#form-" + i).empty()
                $("#form-" + i).append(data)
            }).done(
                $("#images").viewer()
            )
        }
    </script>
{% endblock %}