{# оюутнаас хариулт авах #}
{% load crispy_forms_filters %}

<label>Бодлого {{ result.problem.order }}.</label>
<div id="images">
        {% for upload in result.upload_set.all %}<img src="/media/{{ upload.file }}"
                                                      style="width: 100px; height: 100px">{% endfor %}
</div>
<form method="post" enctype="multipart/form-data" id="student-result">
    {% csrf_token %}
    {{ form.result_id.as_hidden }}
    {{ form | crispy }}
    <button type="submit" class="btn btn-sm btn-primary">Илгээх</button>
</form>