{% extends 'muis.html' %}

{% load crispy_forms_tags %}

{% block title %}Бодлогууд{% endblock %}

{% block style %}
    .dataframe {
        border: 1px solid #000;
        font-family: "Roboto", Verdana, Arial, sans-serif;
    }

    .dataframe td {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        border: 1px solid #000;
    }

    .dataframe th {
        padding-left: 1rem;
        padding-right: 1rem;
        border: 1px solid #000;
    }
{% endblock %}

{% block content %}
    <div class="ustify-content-center">
        {{ pivot | safe }}
    </div>
{% endblock %}