{% load static %}
{% block "main-nav-bar" %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Зүүн тал: Logo + Nav -->
            <div class="d-flex align-items-center">
                <!-- Logo -->
                <a class="navbar-brand me-3" href="{% url 'posts:home' %}">
                    <img src="{% static 'logo.png' %}" alt="logo" style="width: 36px;" class="img-fluid">
                </a>

                <!-- Navigation menu -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- Олимпиад -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">ОЛИМПИАД</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="http://www.mmo.mn/post/?id=381">Удирдамж</a></li>
                                <li><a class="dropdown-item" href="{% url 'olympiad_home' %}">Олимпиадын хуваарь</a></li>
                                <li><a class="dropdown-item" href="{% url 'olympiad_results_home' %}">Олимпиадын дүн</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'olympiad_problems_home' %}">Олимпиадын
                                    бодлогууд</a></li>
                                <li><a class="dropdown-item" href="/post/?id=435">Олимпиадын
                                    цувралууд</a></li>
                                <li><a class="dropdown-item" href="{% url 'olympiad_supplement_home' %}">Материал нэмж
                                    оруулах</a></li>
                            </ul>
                        </li>
                        <!-- Сургуулиуд -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">СУРГУУЛЬ</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" href="{% url 'school_moderators_list' %}">Бүртгэл</a></li>
                            </ul>
                        </li>
                        <!-- Static link -->
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.mmo.mn/post/?id=142" title="Танд тусалъя">АСУУЛТ</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Гол: Banner -->
            <div class="d-none d-lg-block text-center">
                <img src="/media/banner.gif" class="img-fluid" style="max-height: 50px;">
            </div>

            <!-- Баруун тал: Login / Calendar -->
            <div class="d-flex mr-2 align-items-center">
                {% block userlogin %}
                    {% if user.is_authenticated %}
                        <span class="mx-2 text-white">Сайн уу,
                            <a href="{% url 'user_profile' %}" class="text-white">{{ user.username }}</a> /
                            <a href="{% url 'user_logout' %}" class="text-warning">Гарах</a>
                        </span>
                    {% else %}
                        <a href="{% url 'django_registration_register' %}"
                           class="btn btn-sm btn-light mx-2">Бүртгүүлэх</a>
                        <a href="{% url 'user_login' %}" class="btn btn-sm btn-warning text-dark">Нэвтрэх</a>
                    {% endif %}
                {% endblock %}

                <button class="btn btn-outline-light mx-2 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#calendarModal">
                    📅 Календар
                </button>
                <!-- Toggler -->
                <button class="navbar-toggler ml-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
{% endblock %}