<!DOCTYPE html>
<html>
<head>
    <title>Сургуулиудын хариусан багш нар</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Сургуулиудын хариусан багш нар</h1>
    {% include 'selection_menu.html' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Аймаг/Дүүрэг</th>
                <th>Сургуулийн нэр</th>
                <th>Хариусан багш</th>
                <th>Удирдах</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <td>{{ school.province.name }}</td>
                <td>{{ school.name }}</td>
                <td>{{ school.user.first_name }}</td>
                <td>
                    <a href="{% url 'manage_school' school.id  %}" class="btn btn-info">Удирдах</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
